@charset "UTF-8";
/* Шапка сайта */
.hero__add_backsection {
  display: none;
  visibility: hidden;
}

.header {
  display: flex;
  min-height: 76px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  border-bottom: 1px solid #EFF5FB;
}

.header__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: Montserrat;
  font-weight: 500;
}

.header__link {
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

.header__link:hover {
  color: rgb(39, 103, 171);
}

.header__btn {
  border-radius: 4px;
  background: #E3F5F5;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #03B2A5;
  text-align: center;
  padding: 14px 20px;
  width: 190px;
  min-height: 20px;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #56c9c9;
  color: #fff;
}

.header__menu {
  display: none;
  visibility: hidden;
}

/* Значок стрелочки */
.arrow {
  border: solid #333333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 2px 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-nav {
  border: solid #333333;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin: 0 3px 1px 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Main */
/* Информация о навигации */
.main__navigation {
  display: flex;
  justify-content: center;
}

.main__navigation_info {
  justify-content: center;
  width: 1200px;
}

.main__navigation_info_real {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  cursor: pointer;
}

/* main */
/* Тело блога */
.main__h1 {
  display: flex;
  justify-content: center;
}

.main__h1_block {
  justify-content: center;
  width: 1200px;
}

.main__h1_real {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.main__categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 32px 139px 24px 120px;
  color: #333333;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
}

.main__categories p {
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  padding: 8px;
  margin: 0 0 0 8px;
  cursor: pointer;
}

.main__categories p:hover {
  border: 2px solid rgb(39, 103, 171);
}

.main__categories_3 > p {
  border: 2px solid #16C8BB;
  background: #F9FDFD;
}

/* hero block 1 */
/* Первый блок содержимого блога */
.hero,
.hero-add-1,
.hero-add-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 100px;
}

.hero__infoblock_1,
.hero__infoblock_2 {
  max-height: 499px;
  max-width: 588px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.hero__infoblock_1_img_mob {
  display: none;
  visibility: hidden;
}

.hero__infoblock_1_over,
.hero__infoblock_2_over,
.hero-add-1__infoblock_1_over,
.hero-add-1__infoblock_2_over,
.hero-add-1__infoblock_3_over,
.hero-add-2__infoblock_1_over,
.hero-add-2__infoblock_2_over,
.hero-add-2__infoblock_3_over {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero__infoblock_1_over > p,
.hero__infoblock_2_over > p,
.hero-add-1__infoblock_1_over > p,
.hero-add-1__infoblock_2_over > p,
.hero-add-1__infoblock_3_over > p,
.hero-add-2__infoblock_1_over > p,
.hero-add-2__infoblock_2_over > p,
.hero-add-2__infoblock_3_over > p {
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 8px;
  margin: 8px 0 0 8px;
}

.hero__infoblock_1_img,
.hero__infoblock_2_img,
.hero-add-1 img,
.hero-add-2 img {
  border-radius: 16px 16px 0 0;
  padding: 0;
}

.hero__infoblock_1_1,
.hero__infoblock_2_1,
.hero-add-1__infoblock_1_1,
.hero-add-1__infoblock_2_1,
.hero-add-1__infoblock_3_1,
.hero-add-2__infoblock_1_1,
.hero-add-2__infoblock_2_1,
.hero-add-2__infoblock_3_1 {
  border-radius: 0 0 16px 16px;
  border: 1px solid #C1C5CD;
  margin-top: -4px;
  padding: 0;
}

.hero__infoblock_1_1_heading,
.hero__infoblock_2_1_heading,
.hero-add-1__infoblock_1_1_heading,
.hero-add-1__infoblock_2_1_heading,
.hero-add-1__infoblock_3_1_heading,
.hero-add-2__infoblock_1_1_heading,
.hero-add-2__infoblock_2_1_heading,
.hero-add-2__infoblock_3_1_heading {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #333333;
  padding: 16px 31px 0px 16px;
  margin: 0;
}

.hero__infoblock_1_1_author,
.hero__infoblock_2_1_author,
.hero-add-1__infoblock_1_1_author,
.hero-add-1__infoblock_2_1_author,
.hero-add-1__infoblock_3_1_author,
.hero-add-2__infoblock_1_1_author,
.hero-add-2__infoblock_2_1_author,
.hero-add-2__infoblock_3_1_author {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #494949;
  padding: 4px 220px 8px 16px;
  white-space: nowrap;
  margin: 0;
}

.hero__infoblock_1_1_text,
.hero__infoblock_2_1_text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #494949;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0;
}

.hero__infoblock_1_1_date,
.hero__infoblock_2_1_date {
  color: #868686;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  padding: 5.875rem 511px 16px 16px;
  margin: 0;
}

/* Дополнительный блок контента 1/2 hero-add (часть селекторов вписана в раздел hero)*/
.hero-add-1__infoblock_1,
.hero-add-1__infoblock_2,
.hero-add-1__infoblock_3 {
  max-height: 475px;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.hero-add-1__infoblock_1_1_text,
.hero-add-1__infoblock_2_1_text,
.hero-add-1__infoblock_3_1_text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #494949;
  padding: 0 16px 18px 16px;
  margin: 0;
}

.hero-add-1__infoblock_1_1_date,
.hero-add-1__infoblock_2_1_date,
.hero-add-1__infoblock_3_1_date {
  color: #868686;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  padding: 1.5rem 511px 1rem 1rem;
  margin: 0;
}

/* Дополнительный блок контента 2/2 hero-add */
.hero-add-2__infoblock_1,
.hero-add-2__infoblock_2,
.hero-add-2__infoblock_3 {
  max-height: 475px;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  overflow: visible;
}

.hero-add-2__infoblock_1_1_text,
.hero-add-2__infoblock_2_1_text,
.hero-add-2__infoblock_3_1_text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #494949;
  padding: 0 16px 18px 16px;
  margin: 0;
}

.hero-add-2__infoblock_1_1_date,
.hero-add-2__infoblock_2_1_date,
.hero-add-2__infoblock_3_1_date {
  color: #868686;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  padding: 1.5rem 511px 1rem 1rem;
  margin: 0;
}

/* Кнопка после контента */
.main__more_btn {
  border-radius: 4px;
  background: #35B3A9;
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 14px 20px;
  width: 190px;
  min-height: 20px;
  cursor: pointer;
}

.main__more_btn:hover {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  from {
    background-color: #30ddcf;
  }
  25% {
    background-color: #2a94c2;
  }
  50% {
    background-color: #2a62c2;
  }
  75% {
    background-color: #5f2ac2;
  }
  to {
    background-color: #9f2ac2;
  }
}
.main__more {
  display: flex;
  width: 182px;
  margin: 0 auto;
  padding-bottom: 6rem;
}

/* Подвал */
footer {
  background: #2963A3;
  min-width: 100%;
  height: 302px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  max-width: 75rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 5.8125rem;
}

.footer__list_1,
.footer__list_2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: Montserrat;
  font-weight: 500;
  list-style: none;
}

.footer__link {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__sub {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 30.375rem;
}

.footer__h4 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.footer__info {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  opacity: 0.69;
}

.footer__sub_form {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__sub_add-email {
  width: 24rem;
  height: 2.75rem;
  border-radius: 4px;
  border: 1px solid rgba(157, 157, 157, 0.2);
  background: #FFF;
  padding-left: 1rem;
  color: #9D9D9D;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__sub_btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  background: #16C8BB;
  height: 3rem;
  padding: 14px 20px;
  gap: 10px;
  border-radius: 4px;
  margin-left: -0.3rem;
}

.footer__sub_btn:hover {
  background-color: #4ebcb4;
}

.footer__skolkovo {
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
}

.footer__skolkovo a {
  padding-right: 0.5rem;
}

.footer__social a {
  padding-right: 1rem;
}

/* Саааамая последня часть подвала */
.footer__line {
  width: 1200px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.3;
  background: #9D9D9D;
  margin: 0 auto;
}

.footer__about {
  display: flex;
  justify-content: start;
  max-width: 75rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.footer__about_list {
  list-style: none;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.footer__about_link {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.699;
  color: #fff;
}

.footer__about_link:hover {
  opacity: 100;
}

/* Мобильная адаптация SE */
/* *
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
*/
@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .hero__add_backsection {
    display: none;
    visibility: hidden;
  }
  /* Шапка сайта header */
  .header {
    display: flex;
    min-height: 56px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #EFF5FB;
  }
  .header__nav {
    display: none;
    visibility: hidden;
  }
  .header__btn {
    display: none;
    visibility: hidden;
  }
  .header__menu {
    display: flex;
    visibility: visible;
    padding-right: 0.5rem;
  }
  .header__btn_mobile:hover {
    animation: transform_btn;
    animation-duration: 0.3s;
  }
  @keyframes transform_btn {
    from {
      transform: scale(90%);
    }
    50% {
      transform: scale(80%);
    }
    to {
      transform: scale(100%);
    }
  }
  .main__more_btn:hover {
    animation-name: color, rotate_frfr;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
  }
  @keyframes rotate_frfr {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .hero__infoblock_1:hover,
  .hero__infoblock_2:hover,
  .hero-add-1__infoblock_1:hover,
  .hero-add-1__infoblock_2:hover {
    animation: transform_block;
    animation-duration: 0.3s;
  }
  @keyframes transform_block {
    from {
      transform: scale(97%);
    }
    50% {
      transform: scale(93%);
    }
    to {
      transform: scale(100%);
    }
  }
  /* Main */
  /* Информация о навигации */
  .main__navigation {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
  }
  .main__navigation_info {
    justify-content: center;
    width: 100%;
  }
  .main__navigation_info_real {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.7);
    cursor: pointer;
  }
  /* main */
  /* Тело блога */
  .main__h1 {
    display: flex;
    justify-content: center;
  }
  .main__h1_block {
    justify-content: center;
    width: 100%;
    padding: 0 0.5rem;
  }
  .main__h1_real {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .main__categories {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: #333333;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 1rem 0 1.5rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .main__categories p {
    display: flex;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 8px;
    margin: 0 0 0 8px;
    cursor: pointer;
  }
  .main__categories p:hover {
    border: 2px solid rgb(39, 103, 171);
    animation: transform_block;
    animation-duration: 0.3s;
  }
  .main__categories_3 > p {
    border: 2px solid #16C8BB;
    background: #F9FDFD;
  }
  /* hero block 1 */
  /* Первый блок содержимого блога */
  .hero,
  .hero-add-1,
  .hero-add-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 0 1rem 0;
    padding: 0;
  }
  .hero__infoblock_1,
  .hero__infoblock_2 {
    max-height: 484px;
    width: 100%;
    max-width: 288px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem 0 1rem;
    position: relative;
    cursor: pointer;
  }
  .hero__infoblock_1 {
    margin-bottom: 1rem;
  }
  .hero__infoblock_1_img {
    display: none;
    visibility: hidden;
  }
  .hero__infoblock_1_img_mob {
    display: block;
    visibility: visible;
    height: 208px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  .hero__infoblock_2_img {
    display: block;
    visibility: visible;
    height: 206px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding-bottom: 8px;
  }
  .hero__infoblock_1_over,
  .hero__infoblock_2_over,
  .hero-add-1__infoblock_1_over,
  .hero-add-1__infoblock_2_over {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 1rem;
  }
  .hero__infoblock_1_over > p,
  .hero__infoblock_2_over > p,
  .hero-add-1__infoblock_1_over > p,
  .hero-add-1__infoblock_2_over > p {
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 8px;
    margin: 8px 0 0 8px;
  }
  .hero__infoblock_1_img,
  .hero__infoblock_2_img,
  .hero-add-1 img,
  .hero-add-2 img {
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  .hero__infoblock_1_1,
  .hero__infoblock_2_1,
  .hero-add-1__infoblock_1_1,
  .hero-add-1__infoblock_2_1 {
    border-radius: 0 0 16px 16px;
    border: 1px solid #C1C5CD;
    border-top: 0;
    margin-top: 0;
    padding: 0;
  }
  .hero__infoblock_1_1_heading,
  .hero__infoblock_2_1_heading,
  .hero-add-1__infoblock_1_1_heading,
  .hero-add-1__infoblock_2_1_heading {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
    padding: 1rem 31px 0px 1rem;
    margin: 0;
  }
  .hero__infoblock_1_1_author,
  .hero__infoblock_2_1_author,
  .hero-add-1__infoblock_1_1_author,
  .hero-add-1__infoblock_2_1_author {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
    padding: 4px 220px 0 1rem;
    white-space: nowrap;
    margin: 0;
  }
  .hero__infoblock_1_1_text,
  .hero__infoblock_2_1_text,
  .hero-add-1__infoblock_1_1_text,
  .hero-add-1__infoblock_2_1_text {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0;
  }
  .hero__infoblock_1_1_date,
  .hero__infoblock_2_1_date,
  .hero-add-1__infoblock_1_1_date,
  .hero-add-1__infoblock_2_1_date {
    color: #868686;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding: 0.5rem 511px 16px 16px;
    margin: 0;
  }
  /* Скрываю лишние блоки статей (с 5 по 8) */
  .hero-add-1__infoblock_3 {
    display: none;
    visibility: hidden;
  }
  .hero-add-2 {
    display: none;
    visibility: hidden;
  }
  /* Настройка отображения блоков статей с 3 по 4  */
  /* hero-add-1__infoblock_2 + hero-add-1__infoblock_1 */
  .hero-add-1__infoblock_1,
  .hero-add-1__infoblock_2 {
    max-height: 484px;
    width: 100%;
    max-width: 288px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    cursor: pointer;
  }
  .hero-add-1__infoblock_1_img,
  .hero-add-1__infoblock_2_img {
    display: block;
    visibility: visible;
    height: 208px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  /* Кнопка после контента */
  .main__more_btn {
    border-radius: 4px;
    background: #35B3A9;
    color: #fff;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 14px 20px;
    width: 190px;
    min-height: 20px;
    cursor: pointer;
  }
  .main__more {
    display: flex;
    width: 182px;
    margin: 0 auto;
    padding-bottom: 3.75rem;
  }
  /* Подвал */
  footer {
    background: #2963A3;
    width: 100%;
    height: auto;
    max-width: 320px;
    margin: 0 auto;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
    width: 100%;
    max-width: 320px;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 288px;
    padding-left: 1rem;
    gap: 5rem 2rem;
  }
  .footer__list_1 {
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Montserrat;
    font-weight: 500;
    list-style: none;
    gap: 1rem 0;
  }
  .footer__list_2 {
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Montserrat;
    font-weight: 500;
    list-style: none;
    gap: 1rem 0;
  }
  .footer__link {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }
  /* Подвал --- подписка */
  .footer__sub {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 320px;
    margin-top: 1.5rem;
    padding-left: 1rem;
  }
  .footer__h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 0.5rem 0;
  }
  .footer__info {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.69;
    padding-right: 1rem;
  }
  .footer__sub_form {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 288px;
  }
  .footer__sub_add-email {
    width: 288px;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.2);
    background: #FFF;
    margin-right: 1rem;
    color: #9D9D9D;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footer__sub_btn {
    display: none;
    visibility: hidden;
  }
  .footer__sub_btn:hover {
    display: none;
    visibility: hidden;
  }
  .footer__contacts {
    margin-left: 1rem;
  }
  .footer__skolkovo {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
  }
  .footer__skolkovo a {
    padding-right: 0.5rem;
  }
  .footer__social a {
    padding-right: 1rem;
  }
  /* Саааамая последня часть подвала */
  .footer__line {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: #9D9D9D;
    margin: 0 auto;
  }
  .footer__about {
    display: flex;
    justify-content: start;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 1rem;
  }
  .footer__about_list {
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    gap: 1.5rem 0;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__about_link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.699;
    color: #fff;
  }
  .footer__about_link:hover {
    opacity: 100;
  }
}
/* Мобильная адаптация 11PRO */
/* *
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
*/
@media screen and (max-width: 431px) {
  body {
    overflow-x: hidden;
  }
  .hero__add_backsection {
    display: none;
    visibility: hidden;
  }
  /* Шапка сайта header */
  .header {
    display: flex;
    min-height: 56px;
    width: 100%;
    max-width: 414px;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #EFF5FB;
  }
  .header__nav {
    display: none;
    visibility: hidden;
  }
  .header__btn {
    display: none;
    visibility: hidden;
  }
  .header__menu {
    display: flex;
    visibility: visible;
    padding-right: 0.5rem;
  }
  .header__btn_mobile:hover {
    animation: transform_btn;
    animation-duration: 0.3s;
  }
  @keyframes transform_btn {
    from {
      transform: scale(90%);
    }
    50% {
      transform: scale(80%);
    }
    to {
      transform: scale(100%);
    }
  }
  .main__more_btn:hover {
    animation-name: color, rotate_frfr;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
  }
  @keyframes rotate_frfr {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .hero__infoblock_1:hover,
  .hero__infoblock_2:hover,
  .hero-add-1__infoblock_1:hover,
  .hero-add-1__infoblock_2:hover {
    animation: transform_block;
    animation-duration: 0.3s;
  }
  @keyframes transform_block {
    from {
      transform: scale(97%);
    }
    50% {
      transform: scale(93%);
    }
    to {
      transform: scale(100%);
    }
  }
  /* Main */
  /* Информация о навигации */
  .main__navigation {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
  }
  .main__navigation_info {
    justify-content: center;
    width: 100%;
  }
  .main__navigation_info_real {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.7);
    cursor: pointer;
  }
  /* main */
  /* Тело блога */
  .main__h1 {
    display: flex;
    justify-content: center;
  }
  .main__h1_block {
    justify-content: center;
    width: 100%;
    padding: 0 0.5rem;
  }
  .main__h1_real {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .main__categories {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: #333333;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 1rem 0 1.5rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .main__categories p {
    display: flex;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 8px;
    margin: 0 0 0 8px;
    cursor: pointer;
  }
  .main__categories p:hover {
    border: 2px solid rgb(39, 103, 171);
    animation: transform_block;
    animation-duration: 0.3s;
  }
  .main__categories_3 > p {
    border: 2px solid #16C8BB;
    background: #F9FDFD;
  }
  /* hero block 1 */
  /* Первый блок содержимого блога */
  .hero,
  .hero-add-1,
  .hero-add-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 0 1rem 0;
    padding: 0;
  }
  .hero__infoblock_1,
  .hero__infoblock_2 {
    max-height: 484px;
    width: 100%;
    max-width: 374px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem 0 1rem;
    position: relative;
    cursor: pointer;
  }
  .hero__infoblock_1 {
    margin-bottom: 1rem;
  }
  .hero__infoblock_1_img {
    display: none;
    visibility: hidden;
  }
  .hero__infoblock_1_img_mob {
    display: block;
    visibility: visible;
    height: 208px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  .hero__infoblock_2_img {
    display: block;
    visibility: visible;
    height: 206px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding-bottom: 8px;
  }
  .hero__infoblock_1_over,
  .hero__infoblock_2_over,
  .hero-add-1__infoblock_1_over,
  .hero-add-1__infoblock_2_over {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 1rem;
  }
  .hero__infoblock_1_over > p,
  .hero__infoblock_2_over > p,
  .hero-add-1__infoblock_1_over > p,
  .hero-add-1__infoblock_2_over > p {
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 8px;
    margin: 8px 0 0 8px;
  }
  .hero__infoblock_1_img,
  .hero__infoblock_2_img,
  .hero-add-1 img,
  .hero-add-2 img {
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  .hero__infoblock_1_1,
  .hero__infoblock_2_1,
  .hero-add-1__infoblock_1_1,
  .hero-add-1__infoblock_2_1 {
    border-radius: 0 0 16px 16px;
    border: 1px solid #C1C5CD;
    border-top: 0;
    margin-top: 0;
    padding: 0;
  }
  .hero__infoblock_1_1_heading,
  .hero__infoblock_2_1_heading,
  .hero-add-1__infoblock_1_1_heading,
  .hero-add-1__infoblock_2_1_heading {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
    padding: 1rem 31px 0px 1rem;
    margin: 0;
  }
  .hero__infoblock_1_1_author,
  .hero__infoblock_2_1_author,
  .hero-add-1__infoblock_1_1_author,
  .hero-add-1__infoblock_2_1_author {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
    padding: 4px 220px 0 1rem;
    white-space: nowrap;
    margin: 0;
  }
  .hero__infoblock_1_1_text,
  .hero__infoblock_2_1_text,
  .hero-add-1__infoblock_1_1_text,
  .hero-add-1__infoblock_2_1_text {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0;
  }
  .hero__infoblock_1_1_date,
  .hero__infoblock_2_1_date,
  .hero-add-1__infoblock_1_1_date,
  .hero-add-1__infoblock_2_1_date {
    color: #868686;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding: 0.5rem 511px 16px 16px;
    margin: 0;
  }
  /* Скрываю лишние блоки статей (с 5 по 8) */
  .hero-add-1__infoblock_3 {
    display: none;
    visibility: hidden;
  }
  .hero-add-2 {
    display: none;
    visibility: hidden;
  }
  /* Настройка отображения блоков статей с 3 по 4  */
  /* hero-add-1__infoblock_2 + hero-add-1__infoblock_1 */
  .hero-add-1__infoblock_1,
  .hero-add-1__infoblock_2 {
    max-height: 484px;
    width: 100%;
    max-width: 374px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    cursor: pointer;
  }
  .hero-add-1__infoblock_1_img,
  .hero-add-1__infoblock_2_img {
    display: block;
    visibility: visible;
    height: 208px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  /* Кнопка после контента */
  .main__more_btn {
    border-radius: 4px;
    background: #35B3A9;
    color: #fff;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 14px 20px;
    width: 190px;
    min-height: 20px;
    cursor: pointer;
  }
  .main__more {
    display: flex;
    width: 182px;
    margin: 0 auto;
    padding-bottom: 3.75rem;
  }
  /* Подвал */
  footer {
    background: #2963A3;
    width: 100%;
    height: auto;
    max-width: 414px;
    margin: 0 auto;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
    width: 100%;
    max-width: 414px;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 374px;
    padding-left: 1.5rem;
    gap: 5rem 2rem;
  }
  .footer__list_1 {
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    font-family: Montserrat;
    font-weight: 500;
    list-style: none;
    gap: 1rem 0;
  }
  .footer__list_2 {
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Montserrat;
    font-weight: 500;
    list-style: none;
    gap: 1rem 0;
  }
  .footer__link {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }
  /* Подвал --- подписка */
  .footer__sub {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 414px;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
  }
  .footer__h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 0.5rem 0;
  }
  .footer__info {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.69;
    margin-right: 2rem;
  }
  .footer__sub_form {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 374px;
  }
  .footer__sub_add-email {
    max-width: 362px;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.2);
    background: #FFF;
    padding: 0;
    color: #9D9D9D;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footer__sub_btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    background: #16C8BB;
    height: 3.1rem;
    padding: 14px 20px;
    gap: 10px;
    border-radius: 4px;
    margin-left: -4rem;
  }
  .footer__sub_btn:hover {
    display: none;
    visibility: hidden;
  }
  .footer__contacts {
    margin-left: 1.5rem;
  }
  .footer__skolkovo {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
  }
  .footer__skolkovo a {
    padding-right: 0.5rem;
  }
  .footer__social a {
    padding-right: 1rem;
  }
  /* Саааамая последня часть подвала */
  .footer__line {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: #9D9D9D;
    margin: 0 auto;
  }
  .footer__about {
    display: flex;
    justify-content: start;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 1rem;
  }
  .footer__about_list {
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    gap: 1.5rem 0;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .footer__about_link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.699;
    color: #fff;
  }
  .footer__about_link:hover {
    opacity: 100;
  }
}
/* Мобильная адаптация IPad mini */
/* *
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
***************************************************************************************
*/
@media screen and (max-width: 769px) and (min-width: 750px) {
  body {
    overflow-x: hidden;
  }
  .hero__add_backsection {
    display: flex;
    visibility: visible;
  }
  .main > .hero-add-1,
  .main > .hero-add-2 {
    display: none;
    visibility: hidden;
  }
  /* Шапка сайта header */
  .header {
    display: flex;
    min-height: 76px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #EFF5FB;
  }
  .header__nav {
    display: none;
    visibility: hidden;
  }
  .header__btn {
    display: none;
    visibility: hidden;
  }
  .header__menu {
    display: flex;
    visibility: visible;
    padding-right: 1.25rem;
  }
  .header__btn_mobile:hover {
    animation: transform_btn;
    animation-duration: 0.3s;
  }
  @keyframes transform_btn {
    from {
      transform: scale(90%);
    }
    50% {
      transform: scale(80%);
    }
    to {
      transform: scale(100%);
    }
  }
  .main__more_btn:hover {
    animation-name: color, rotate_frfr;
    animation-duration: 1s, 1s;
    animation-iteration-count: 1;
  }
  @keyframes rotate_frfr {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .hero__infoblock_1:hover,
  .hero__infoblock_2:hover,
  .hero-add-1__infoblock_1:hover,
  .hero-add-1__infoblock_2:hover {
    animation: transform_block;
    animation-duration: 0.3s;
  }
  @keyframes transform_block {
    from {
      transform: scale(97%);
    }
    50% {
      transform: scale(93%);
    }
    to {
      transform: scale(100%);
    }
  }
  /* Main */
  /* Информация о навигации */
  .main__navigation {
    display: flex;
    justify-content: center;
    margin-left: 1.25rem;
  }
  .main__navigation_info {
    justify-content: center;
    width: 100%;
  }
  .main__navigation_info_real {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.7);
    cursor: pointer;
  }
  /* main */
  /* Тело блога */
  .main__h1 {
    display: flex;
    justify-content: center;
  }
  .main__h1_block {
    justify-content: center;
    width: 100%;
    margin-left: 1.25rem;
  }
  .main__h1_real {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .main__categories {
    display: flex;
    width: 728px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 1.25rem 0 1.25rem;
    padding: 0;
    color: #333333;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
  }
  .main__categories p {
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 8px;
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
  }
  .main__categories p:hover {
    border: 2px solid rgb(39, 103, 171);
  }
  .main__categories_3 > p {
    border: 2px solid #16C8BB;
    background: #F9FDFD;
  }
  /* hero block 1 */
  /* Первый блок содержимого блога */
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 0 1rem 0;
    padding: 0;
  }
  .hero__infoblock_1,
  .hero__infoblock_2 {
    height: 600px;
    width: 100%;
    max-width: 728px;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 0 1rem 0 1rem;
    position: relative;
    cursor: pointer;
  }
  .hero__infoblock_1 {
    margin-bottom: 2.5rem;
  }
  .hero__infoblock_1_img {
    display: block;
    visibility: visible;
    height: 404px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  .hero__infoblock_1_img_mob {
    display: none;
    visibility: hidden;
  }
  .hero__infoblock_2_img {
    display: block;
    visibility: visible;
    height: 404px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding-bottom: 8px;
  }
  .hero__infoblock_1_over,
  .hero__infoblock_2_over,
  .hero-add-1__infoblock_1_over,
  .hero-add-1__infoblock_2_over {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 1rem;
  }
  .hero__infoblock_1_over > p,
  .hero__infoblock_2_over > p,
  .hero-add-1__infoblock_1_over > p,
  .hero-add-1__infoblock_2_over > p {
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 8px;
    margin: 8px 0 0 8px;
  }
  .hero-add-1 img,
  .hero-add-2 img {
    border-radius: 16px 16px 0 0;
    padding: 0;
    height: 206px;
    width: 352px;
  }
  .hero__infoblock_1_1,
  .hero__infoblock_2_1,
  .hero-add-1__infoblock_1_1,
  .hero-add-1__infoblock_2_1 {
    border-radius: 0 0 16px 16px;
    border: 1px solid #C1C5CD;
    border-top: 0;
    margin-top: 0;
    padding: 0;
  }
  .hero__infoblock_1_1_heading,
  .hero__infoblock_2_1_heading,
  .hero-add-1__infoblock_1_1_heading,
  .hero-add-1__infoblock_2_1_heading {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
    padding: 1rem 31px 0px 1rem;
    margin: 0;
  }
  .hero__infoblock_1_1_author,
  .hero__infoblock_2_1_author,
  .hero-add-1__infoblock_1_1_author,
  .hero-add-1__infoblock_2_1_author {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
    padding: 4px 220px 0 1rem;
    white-space: nowrap;
    margin: 0;
  }
  .hero__infoblock_1_1_text,
  .hero__infoblock_2_1_text,
  .hero-add-1__infoblock_1_1_text,
  .hero-add-1__infoblock_2_1_text {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0;
  }
  .hero__infoblock_1_1_date,
  .hero__infoblock_2_1_date,
  .hero-add-1__infoblock_1_1_date,
  .hero-add-1__infoblock_2_1_date {
    color: #868686;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding: 0.5rem 511px 16px 16px;
    margin: 0;
  }
  /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */
  /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */
  /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */
  /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */
  /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */ /* Скрываю лишние блоки статей (с 5 по 8) */
  .hero__add_backsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    row-gap: rem;
  }
  .hero-add-1,
  .hero-add-2 {
    display: grid;
    width: 768px;
    max-width: 768px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
    row-gap: 13rem;
  }
  .hero-add-2 {
    row-gap: 15.5rem;
  }
  .hero-add-1__infoblock_1_over,
  .hero-add-1__infoblock_2_over,
  .hero-add-1__infoblock_3_over,
  .hero-add-2__infoblock_1_over,
  .hero-add-2__infoblock_2_over,
  .hero-add-2__infoblock_3_over {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .hero-add-1__infoblock_1_over > p,
  .hero-add-1__infoblock_2_over > p,
  .hero-add-1__infoblock_3_over > p,
  .hero-add-2__infoblock_1_over > p,
  .hero-add-2__infoblock_2_over > p,
  .hero-add-2__infoblock_3_over > p {
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 8px;
    margin: 8px 0 0 8px;
  }
  .hero-add-1 img,
  .hero-add-2 img {
    border-radius: 16px 16px 0 0;
    padding: 0;
  }
  .hero-add-1__infoblock_1_1,
  .hero-add-1__infoblock_2_1,
  .hero-add-1__infoblock_3_1,
  .hero-add-2__infoblock_1_1,
  .hero-add-2__infoblock_2_1,
  .hero-add-2__infoblock_3_1 {
    border-radius: 0 0 16px 16px;
    border: 1px solid #C1C5CD;
    margin-top: -4px;
    padding: 0;
  }
  .hero-add-1__infoblock_1_1_heading,
  .hero-add-1__infoblock_2_1_heading,
  .hero-add-1__infoblock_3_1_heading,
  .hero-add-2__infoblock_1_1_heading,
  .hero-add-2__infoblock_2_1_heading,
  .hero-add-2__infoblock_3_1_heading {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
    padding: 16px 0 0px 16px;
    margin: 0;
    white-space: wrap;
  }
  .hero-add-1__infoblock_1_1_author,
  .hero-add-1__infoblock_2_1_author,
  .hero-add-1__infoblock_3_1_author,
  .hero-add-2__infoblock_1_1_author,
  .hero-add-2__infoblock_2_1_author,
  .hero-add-2__infoblock_3_1_author {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
    padding: 4px 0 8px 16px;
    white-space: nowrap;
    margin: 0;
  }
  /* Дополнительный блок контента 1/2 hero-add (часть селекторов вписана в раздел hero)*/
  .hero-add-1__infoblock_1,
  .hero-add-1__infoblock_2,
  .hero-add-1__infoblock_3 {
    max-height: 247px;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
  }
  .hero-add-1__infoblock_1_1_text,
  .hero-add-1__infoblock_2_1_text,
  .hero-add-1__infoblock_3_1_text {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
    margin: 0;
  }
  .hero-add-1__infoblock_1_1_text {
    padding: 0 1rem 1.5rem 1rem;
  }
  .hero-add-1__infoblock_3_1_text {
    padding: 0 1rem 0.6rem 1rem;
  }
  .hero-add-1__infoblock_1_1_date,
  .hero-add-1__infoblock_2_1_date,
  .hero-add-1__infoblock_3_1_date {
    color: #868686;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding-left: 1rem;
    margin: 0;
  }
  /* Дополнительный блок контента 2/2 hero-add */
  .hero-add-2__infoblock_1,
  .hero-add-2__infoblock_2,
  .hero-add-2__infoblock_3 {
    max-height: 247px;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    overflow: visible;
  }
  .hero-add-2__infoblock_1 {
    margin: -54rem 0 0 23.5rem;
    position: absolute;
  }
  .hero-add-2__infoblock_2,
  .hero-add-2__infoblock_3 {
    margin-top: 3rem;
  }
  .hero-add-2__infoblock_1_1_text,
  .hero-add-2__infoblock_2_1_text,
  .hero-add-2__infoblock_3_1_text {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #494949;
    padding: 0 0 0 16px;
    margin: 0;
  }
  .hero-add-2__infoblock_3_1_text {
    padding: 0 1rem 1.25rem 1rem;
  }
  .hero-add-2__infoblock_1_1_date,
  .hero-add-2__infoblock_2_1_date,
  .hero-add-2__infoblock_3_1_date {
    color: #868686;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding-left: 1rem;
    margin: 0;
  }
  /* Кнопка после контента */
  .main__more_btn {
    border-radius: 4px;
    background: #35B3A9;
    color: #fff;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 14px 20px;
    width: 190px;
    min-height: 20px;
    cursor: pointer;
    margin-top: 8rem;
  }
  .main__more_btn:hover {
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes color {
    from {
      background-color: #30ddcf;
    }
    25% {
      background-color: #2a94c2;
    }
    50% {
      background-color: #2a62c2;
    }
    75% {
      background-color: #5f2ac2;
    }
    to {
      background-color: #9f2ac2;
    }
  }
  .main__more {
    display: flex;
    width: 182px;
    margin: 0 auto;
    padding-bottom: 3.5rem;
  }
  /* Подвал */
  footer {
    background: #2963A3;
    min-width: 100%;
    height: 302px;
    margin: 0 auto;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    gap: 5.8125rem;
  }
  .footer__list_1,
  .footer__list_2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Montserrat;
    font-weight: 500;
    list-style: none;
  }
  .footer__link {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }
  .footer__sub {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30.375rem;
  }
  .footer__h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding: 0;
    margin: 0;
  }
  .footer__info {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.69;
  }
  .footer__sub_form {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .footer__sub_add-email {
    width: 24rem;
    height: 2.75rem;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.2);
    background: #FFF;
    padding-left: 1rem;
    color: #9D9D9D;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footer__sub_btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    background: #16C8BB;
    height: 3rem;
    padding: 14px 20px;
    gap: 10px;
    border-radius: 4px;
    margin-left: -0.3rem;
  }
  .footer__sub_btn:hover {
    background-color: #4ebcb4;
  }
  .footer__skolkovo {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
  }
  .footer__skolkovo a {
    padding-right: 0.5rem;
  }
  .footer__social a {
    padding-right: 1rem;
  }
  /* Саааамая последня часть подвала */
  .footer__line {
    width: 1200px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: #9D9D9D;
    margin: 0 auto;
  }
  .footer__about {
    display: flex;
    justify-content: start;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 1rem;
  }
  .footer__about_list {
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    gap: 3rem;
  }
  .footer__about_link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.699;
    color: #fff;
  }
  .footer__about_link:hover {
    opacity: 100;
  }
}/*# sourceMappingURL=style.css.map */